
/* system */
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
.a {
	text-decoration: none;
	color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


